html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%;
}

body { 
    width: 100%;
    height: 100%;
    font-family: "DM Sans", sans-serif;     
    display: flex;
    justify-content: center;
}

header.header-logo {
    position: fixed;
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1300px;
    margin: 40px auto 0;
    left: 46.5%;
    right: 45%;
}

.logo {
    position: relative;
    height: 90.29px;
    width: 268px;
}

.logo:hover {
    transform: scale(1.1);
}

main {
    position: absolute;
    min-height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 160px auto 0; 
    padding-left: 80px;
}

/*  LA BARRE DE RECHERCHE */

.search-section {
    position: inherit;
    height: 70px;
    max-width: 100%;
    min-width: 280px;
    margin-left: 20px;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    border-radius: 5px;
}

.block-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 1300px;
    background-color: #E7E7E7;
    border-radius: 5px;
}

label {
    display: inline-block;
}

#search-input {
    height: 69px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    font-size: 22px;
    color: #333;
    border: 0;
    outline: 0;
    padding-left: 20px;
}

#search-input::placeholder {
    padding-left: 20px;
}

.btn-search {
    position: inherit;
    background-color: #E7E7E7;
    height: 32px;
    width: 75px;
    margin: auto 0;
    color: #000000;
    border: 0;
    cursor: pointer;
}

#error-msg {
    display: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #ED6454;
    font-size: 15px;
    text-align: left;
    overflow: hidden;
    margin-bottom: 30px;
}

/* BLOCK TAG SELECTED */

.tag-selected-section {
    position: relative;
    height: 40px;
    width: 1260px;
    margin: 80px 20px 10px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }

.tag-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    height: 30px;
    width: auto;
    padding: 5px 15px 5px 5px;
    border-radius: 5px;
}

.li-selected {
    margin: 5px 10px;
    height: 20px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.close-tag-selected {
    align-items: center;
    height: 18px;
    width: 18px;
    padding: 8px;
    margin: auto;
    border: #FFFFFF 3px solid;
    border-radius: 15px;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
}

.tag-cross {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    margin-top: -6px;
    margin-left: -4px;
}

/* BOUTONS DE TAG (FILTRES) */

.tags-section {
    position: relative;
    width: 90%;
    margin-left: -40px;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    height: 60px;
    width: 1440px;
    margin: 0 60px 30px;
    z-index: 2;
}

#btn-ingredient, #btn-appliance, #btn-ustensil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: none;
    outline: none;
    min-width: 170px;
    height: 69px;
    border-radius: 5px;
    cursor: pointer;    
}

#btn-ingredient:hover, #btn-appliance:hover, #btn-ustensil:hover {
    transform : scale(1.1);
}

#btn-ingredient, .tag-li.ingredient {
    background-color: #3282F7;
}

#btn-appliance, .tag-li.appliance {
    background-color: #68D9A4;
}

#btn-ustensil, .tag-li.ustensil  {
    background-color: #ED6454;
}

#btn-ingredient p, #btn-appliance p, #btn-ustensil p {
    width: 90px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: auto 65px auto 15px;
}

.fa-chevron-down {
    margin: 25px -40px;
    color: #FAFAFA;
    z-index: 0;
    pointer-events: none;
    width: 16px;
    height: 9.88px;
}

/* BLOCK LISTE DE TAG (FILTER) */

.modal-section {
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 1;
    height: auto;
}

#modal-ingredient, #modal-ustensil, #modal-appliance {  
    margin-top: -70px;
    padding-top: 20px;
    max-height: 100%; 
    border-radius: 5px; 
}

#modal-ingredient {
    width: 700px;
}

#modal-appliance {
    width: 430px;
}

#modal-ustensil {
    width: 430px;
}

#modal-ingredient, #list-ingredient {   
    background-color: #3282F7;  
}

#modal-appliance, #list-appliance {     
    background-color: #68D9A4;  
}

#modal-ustensil, #list-ustensil {   
    background-color:#ED6454;   
}

.tag-input {
    background-color: transparent;
    border: transparent;
    color: #FFFFFF;
    text-align: left;
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    opacity: 50%;
}

.tag-input::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.5;
    height: 25px;
    border: none;
}

.close-tag {
    position: relative;
    background-color: transparent;
    border: transparent;
    color: #FAFAFA; 
    z-index: 1;
    width: 16px;
    height: 20px;
    margin-right: 30px;
    cursor: pointer;
}

.close-tag:hover {
    transform: scale(1.2);
}

.ul-tag { 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-top: 40px;
    margin-left: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    z-index: 1;
}

#list-ingredient, #list-appliance, #list-ustensil {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr)); 
    border-radius: 5px;
}

.ul-tag#list-ingredient {
    min-height: min-content;
    max-height: 1320px; 
    width: 680px;
}

.ul-tag#list-appliance {    
    width: 410px;
    border-radius: 5px;
    min-height: min-content;
}

.ul-tag#list-ustensil {
    height: min-content;
    width: 410px;
}

#list-ingredient li, #list-appliance li, #list-ustensil li {
    display: grid;
    width: 200px;
    column-gap: 30px;
    list-style-type: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px; 
    color: #FFFFFF;
    cursor: pointer;
}

#list-ingredient li:hover, #list-appliance li:hover, #list-ustensil li:hover {
    transform: scale(1.1);
}

/* GALERIE DES RECETTES */

.gallery-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: stretch;
    align-items: center;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    width: 100%;
    max-width: 1300px;
    min-width: 280px;
    padding: 40px 20px;
    border-radius: 5px;
    position: inherit;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 364px;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 5px;
    overflow: hidden;
}

.recipe-list:hover {
    transform: scale(1.1);
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;    
    cursor: pointer;    
    width: 380px;
}

.recipe-photo {
    height: 178px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.details-recipe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 186px;
    margin: 0;
    background-color: #E7E7E7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.recipe-title, .recipe-timer {
    font-family: "Lato";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.recipe-title {
    font-weight: 400;
    width: 265px;
    margin-right: 50px;
    word-break: inherit;
}

aside {
    height: 300px;
}

.recipe-timer {
    position: absolute;
    font-weight: 700;
    margin-left: 270px;
}

i {
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

.recipe-infos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 186px;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 10px;
}
.recipe-ingredients {
    width: 171px;
    height: auto;
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Lato';
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-indent: -40px;
}

.recipe-ingredients li {
    margin-left: 40px;
}

.descriptions {
    display: inline-block;
    width: 180px;
    max-height: 109px;
    margin-bottom: 15px;
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 16px;
}

/* MESSAGE D'ERREUR */

.block-error {
    display: none;
    justify-content: center;
}

.block-error p {
    text-align: center;
    font-family: "Lato";
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    color: #ED6454;
}

/* MEDIA QUERIES */

@media (max-width: 2560px) {
    header.header-logo {
        left: 45%;
    }
} 

@media (max-width: 1440px) {
    header.header-logo {
        left: 40%;
    }
    main {
        padding-left: 85px;
    }
}

@media (max-width: 350px) {
    main {
        padding-left: 60px;
    }
    .block-search {
        width: 1180px;
        min-width: 350px;
    }   
    .gallery-section {
        grid-template-columns: repeat(3, 0.5fr);
    }
    .recipe-list {
        width: 340px;
    }
    .recipe-title {
        width: 240px;
    }
    .recipe-timer {
        margin-left: 240px;
    }
    .recipe-ingredients {
         width: 150px;
    }
}