html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
  }
  
body { 
    /*  */
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    font-family: "DM Sans", sans-serif;
    margin: auto;
}
header {
    display: flex;
    justify-content: center;
    height: 150px;
    margin-top: 30px;
}

.logo {
    height: 90.29px;
    width: 268px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.search-section {
    height: 80px;
    width: 100%;
}

.search-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
}

label {
    display: inline-block;
}

#search-input {
    position: absolute;
    height: 69px;
    width: 1240px;
    border-radius: 5px;
    background-color: #E7E7E7;
    font-size: 22px;
    color: #333;
    border: 0;
    overflow: visible;
    outline: 0;
    margin-left: 60px;
    padding-left: 20px;
}

.btn-search {
    position: relative;
    background-color: #E7E7E7;
    height: 32px;
    width: 32px;
    margin: auto 40px;
    left: 80%;
    right: 14.63%;
    top: 20px;
    bottom: 14.63%;
    color: #000000;
    border: 0;
    cursor: pointer;
}

.tag-section {
    height: 30px;
    width: 1240px;
    margin: 10px 0 10px 60px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid grey;
}

.filter-section {
    width: 1240px;
    margin: 30px 0 10px 60px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}

#ingredient, #appliance, #ustensil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: none;
    outline: none;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}

#ingredient {
    background-color: #3282F7;
}

#appliance {
    background-color: #68D9A4;
}

#ustensil {
    background-color: #ED6454;
}

#ingredient p, #appliance p, #ustensil p {
    width: 90px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: auto 65px auto 15px;
}

#chevron {
    position: relative;
    margin: auto 20px auto 0;
    color: #FAFAFA;
    z-index: 1;
    pointer-events: none;
    width: 16px;
    height: 9.88px;
}

#chevron.active {
    top: -20px;
    transform: rotate(180deg);
} 

.gallery-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 85px;
    width: 1240px;
    margin-left: 60px;
}

.recipe-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 364px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    margin-bottom: 50px;    
}

.recipe-photo {
    height: 178px;
    width: 380px;
}

.details-recipe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 380px;
    height: 172px;
    margin: 0;
    padding: 5px 20px;
    gap: 20px;
    background-color: #E7E7E7;
}

.recipe-header, .recipe-infos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-top: 0;
}

h2, h3 {
    font-family: "Lato";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

h2 {
    font-weight: 400;
    margin-right: 3px;
}

h3 {
    font-weight: 700;
}

i {
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

.recipe-infos {
    gap: 10px;
    position: relative;
    width: 380px;
    height: 186px;
    border-radius: 5px;
    
}
.recipe-ingredients {
    width: 60%;
    margin-top: 0;
    list-style-type: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-indent: -40px;
}

.descriptions {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 60%;
    height: 109px;
    white-space: wrap;
    margin-bottom: 15px;
    margin-right: 35px;
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 400;
    word-wrap: break-word;
}

